.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000080;
  padding: 1rem 2rem;
  color: white;
  /* width: 95%; */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-actions {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.login-btn {
  background-color: #555;
  color: white;
}

.signup-btn {
  background-color: #007bff;
  color: white;
}

.login-btn:hover {
  background-color: #777;
}

.signup-btn:hover {
  background-color: #0056b3;
}

/* Remove underline and blue color from the Link component */
.navbar a,
.navbar .navbar-links a,
.navbar .navbar-actions a {
  text-decoration: none;
  color: inherit; /* This will make the text color inherit from the parent element */
}

.navbar .navbar-actions a {
  color: inherit; /* If you want the buttons to follow the same rule */
}

.cart-icon {
  color: white; /* Change to your desired color */
  font-size: 1.5rem; /* Adjust size */
  margin-right: 15px; /* Adjust spacing */
  text-decoration: none; /* Remove underline */
}
