.single-product-page {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.product-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  gap: 40px;
}

.product-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}


.product-image-show {
  width: 350px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.product-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes elements apart */
  padding: 20px;
  background: #fff; /* Ensure background consistency */
  border-radius: 10px;
}
.product-details h1 {
  font-size: 26px;
}
.product-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price-show {
  font-size: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
}


.quantity-btn {
  background-color: #f2f2f2;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.quantity-btn:hover {
  background-color: #ddd;
}

.quantity-cart {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.quantity-label {
  margin-right: 10px;
  font-weight: 500;
}

.quantity-input {
  width: 40px;
  text-align: center;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.add-to-cart-button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 12px;
  width: 60%;
}

.add-to-cart-button:hover {
  background-color: #e65c00;
}

.stock-bar {
  width: 100%;
  height: 14px;
  background: #e0e0e0; /* Light gray background */
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.stock-fill {
  height: 100%;
  background: #ff9800; /* Orange color for the stock level */
  transition: width 0.5s ease-in-out; /* Smooth transition for stock changes */
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.product-stock span {
  animation: flash 1s infinite;
  font-weight: bold;
  color: red; /* Make it stand out */
}
